<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>《医用检验仪器》典型仪器虚拟仿真</title>
    <link rel="icon" href="common/images/logo.png" >
    <link rel="stylesheet" href="common/css/bootstrap.min.css">
    <link rel="stylesheet" href="common/css/index.css">
    <link rel="stylesheet" href="common/css/reset.css">
    <script src="common/js/jquery-3.4.1.min.js"></script>
    <script src="common/js/bootstrap.min.js"></script>
    <script src="common/js/angular.min.js"></script>
    <script src="common/js/indexpage.js"></script>
</head>
<body ng-app="pageApp" ng-controller="pageCtrl">
<header>
    <div class="light"></div>
    <div class="index-page-hbox">
        <div class="user-info" ng-show="useroff">
            <a href="javascript:;" id="ID">{{username}}</a>
            <span class="line">|</span>
            <a href="javascript:;" ng-click="exit()">退出</a>
        </div>
        <div class="index-page-info">
            <div class="title">《医用检验仪器》典型仪器虚拟仿真</div>
            <ul class="index-page-info-tags">
                <li>所属专业类： </li>
                <li>对应专业：生物医学工程</li>
                <li>学校：上海理工大学</li>
                <!-- <li>负责人：黄世清</li> -->
            </ul>
            <div class="index-page-info-description">
<!--                <div class="index-page-swiper">-->
<!--                    <img class="img-slide img" src="common/images/1.png" alt="img1">-->
<!--                    <img class="img-slide img" src="common/images/2.png" alt="img2">-->
<!--                    <img class="img-slide img" src="common/images/3.png" alt="img3">-->
<!--                    <img class="img-slide img" src="common/images/4.jpg" alt="img4">-->
<!--                    <img class="img-slide img" src="common/images/5.jpg" alt="img5">-->
<!--                </div>-->
                <div id="scroll_div" class="scroll_div">
                    <div id="scroll_begin">
                        <ul>
                            <li><img src="common/images/1.png" alt=""></li>
                            <li><img src="common/images/2.png" alt=""></li>
                            <li><img src="common/images/3.png" alt=""></li>
                            <li><img src="common/images/4.jpg" alt=""></li>
                            <li><img src="common/images/5.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div id="scroll_end"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="index-page-content">
    <div class="index-page-content-buittons">
        <div class="index-page-content-btns">
            <span ng-class="{true :'btn-active', false :'tag'}[btnsVariable==$index]" ng-repeat="tag in tagBtns track by $index" ng-init="BtnIndex = $index">
                <a ng-click="tagBtn($index,tag.sign)">{{tag.name}}</a>
                <ul class="index-page-content-secondopt" ng-if="tag.child">
                    <li ng-class="{true :'opt-active', false :'opt'}[optsVariable==$index]" ng-click="optBtn(BtnIndex,$index,option.sign)" ng-repeat="option in tag.child track by $index">
                        <a>{{option.name}}</a>
                    </li>
                </ul>
            </span>
            <div class="line"></div>
        </div>
    </div>
    <div class="index-page-content-details">
        <div class="incharge-info">
            <div class="incharge-details" ng-repeat="text in details track by $index">
                <p class="part-title" ng-bind="text.text"></p>
                <div class="index-page-content-introduce" ng-hide="text.src==null">
                    <iframe class="index-page-content-iframe" ng-src="{{text.src}}" scrolling="no" align="left" id="{{text.id}}" sign='false' style="width: 100%" onload="this.height=this.contentWindow.document.body.scrollHeight+100">
                        您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
                    </iframe>
                    <div class="morebox" ng-show="text.btn">
                        <div class="more-btn" ng-click="showiframe(text.id)"></div>
                    </div>
                </div>
                <div class="border-box" ng-show="text.src==null">
                    <h5 style="margin: 20px;">暂无内容</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert fade in alert-danger"  id="myAlert">
    <a href="GIXRAY.html#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>错误！</strong>发生错误，登陆失败
</div>
</body>
<script type="text/javascript">
    // // index：索引， len：长度
    // var index = 0, len;
    // // 类似获取一个元素数组
    // var imgBox = document.getElementsByClassName("img-slide");
    // len = imgBox.length;
    // imgBox[index].style.display = 'block';
    // // 逻辑控制函数
    // function slideShow() {
    //     index ++;
    //     // 防止数组溢出
    //     if(index >= len) index = 0;
    //     // 遍历每一个元素
    //     for(var i=0; i<len; i++) {
    //         imgBox[i].style.display = 'none';
    //     }
    //     // 每次只有一张图片显示
    //     imgBox[index].style.display = 'block';
    // }
    //
    // // 定时器，间隔3s切换图片
    // setInterval(slideShow, 3000);
    function ScrollImgLeft(){
        var speed=10;
        var scroll_begin = document.getElementById("scroll_begin");
        var scroll_end = document.getElementById("scroll_end");
        var scroll_div = document.getElementById("scroll_div");
        scroll_end.innerHTML=scroll_begin.innerHTML;
        function Marquee(){
            if(scroll_end.offsetWidth-scroll_div.scrollLeft<=0)
            {
                scroll_div.scrollLeft-=scroll_begin.offsetWidth;
            }
            else
            {
                scroll_div.scrollLeft++;
            }
        }
        var MyMar=setInterval(Marquee,speed);
        scroll_div.onmouseover=function()
        {
            clearInterval(MyMar);
        }
        scroll_div.onmouseout=function()
        {
            MyMar=setInterval(Marquee,speed);
        }
    }
    ScrollImgLeft();
</script>

</html>