<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>《医用检验仪器》典型仪器虚拟仿真</title>
    <link rel="icon" href="common/images/logo.png" >
    <link rel="stylesheet" href="common/css/bootstrap.min.css">
    <link rel="stylesheet" href="common/css/index.css">
    <link rel="stylesheet" href="common/css/reset.css">
    <script src="common/js/jquery-3.4.1.min.js"></script>
    <script src="common/js/bootstrap.min.js"></script>
    <script src="common/js/angular.min.js"></script>
    <script src="common/js/indexpage.js"></script>
</head>
<body ng-app="pageApp" ng-controller="pageCtrl">
<header>
    <div class="light"></div>
    <div class="index-page-hbox">
        <div class="user-info" ng-show="useroff">
            <a href="javascript:;" id="ID">{{username}}</a>
            <span class="line">|</span>
            <a href="javascript:;" ng-click="exit()">退出</a>
        </div>
        <div class="index-page-info">
            <div class="title">《医用检验仪器》典型仪器虚拟仿真</div>
            <ul class="index-page-info-tags">
                <li>所属专业类： </li>
                <li>对应专业：生物医学工程</li>
                <li>学校：上海理工大学</li>
                <!-- <li>负责人：黄世清</li> -->
            </ul>
            <div class="index-page-info-description">
                DESCRIPTION HERE
            </div>
<!--            <div class="index-page-btns" style="position: relative;overflow: inherit;">-->
<!--                &lt;!&ndash; ng-click="gotest('http://47.94.128.81/jnu/VR-lab/webgl/')" &ndash;&gt;-->
<!--                <button type="button" class="btns btn-opacity index-page-btns-to-btn" ng-click="gotest('http://47.94.128.81/USST/GIXRAY/webgl')">进入实验<-REPLACE RESOURCES</button>-->
<!--                <button type="button" class="btns btn-opacity index-page-btns-to-btn" style="margin-left: 100px;"><a href="http://47.94.128.81/USST/GIXRAY/download/ziyuan.zip" style="color: white;" download="ShangHaiLiGongVR_1103.zip"> VR版下载(可选)</a></button>-->
<!--                <span style="position: absolute; bottom: -34px;left: 20px;font-size: 12px;color: #e9e7e7;text-align: center;">*建议使用火狐浏览器 <br/>版本:82.0.2(64位)</sapn>-->
<!--            </div>-->
        </div>
        <div class="index-page-video">
            <div class="video-btns">
                <button ng-click="VideoTab(0)" class="video-btn" ng-class="{true:'video-checked', false:''}[VideoChend==0]">项目简介视频</button>
                <button ng-click="VideoTab(1)" class="video-btn" ng-class="{true:'video-checked', false:''}[VideoChend==1]">项目引导视频</button>
            </div>
            <!-- ./video/show.mp4 -->
            <video src="./common/video/show.mp4" muted="muted" autoplay="autoplay" controls="controls" id="video">
                暂无视频
            </video>
        </div>
    </div>
</header>
<div class="index-page-content">
    <div class="index-page-content-buittons">
        <div class="index-page-content-btns">
            <span ng-class="{true :'btn-active', false :'tag'}[btnsVariable==$index]" ng-click="tagBtn($index,tag.sign)" ng-repeat="tag in tagBtns track by $index">{{tag.name}}</span>
            <div class="line"></div>
        </div>
    </div>
    <div class="index-page-content-details">
        <div class="incharge-info">
            <div class="incharge-details" ng-repeat="text in details track by $index">
                <p class="part-title" ng-bind="text.text"></p>
                <div class="index-page-content-introduce" ng-hide="text.src==null">
                    <iframe class="index-page-content-iframe" ng-src="{{text.src}}" scrolling="no" align="left" id="{{text.id}}" height=100% sign='false'>
                        您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
                    </iframe>
                    <div class="morebox" ng-show="text.btn">
                        <div class="more-btn" ng-click="showiframe(text.id)"></div>
                    </div>
                </div>
                <div class="border-box" ng-show="text.src==null">
                    <h5 style="margin: 20px;">暂无内容</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert fade in alert-danger"  id="myAlert">
    <a href="GIXRAY.html#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>错误！</strong>发生错误，登陆失败
</div>
</body>
</html>